DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=some-username
DOCKER_INFLUXDB_INIT_PASSWORD=some-password
DOCKER_INFLUXDB_INIT_ORG=someOrganization
DOCKER_INFLUXDB_INIT_BUCKET=initial-bucket
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=some-admin-token
